<div class="sidebar h-100">
  <div class="border border-1 border-dark p-2">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <span class="fs-5">Company</span>
      </div>
      <div>
        <a class="bi bi-person-plus text-dark fs-4" routerLink="./add"></a>
      </div>
    </div>
    <div class="my-2">
      <form class="d-flex" role="search" >
        <input class="form-control me-2" type="search" placeholder="Search" name="data" [(ngModel)]="data" >
      </form>
    </div>
  </div>

  <div class="px-4 py-2 d-flex align-items-center justify-content-between border border-1 border-dark"
  *ngFor="let user of companyData | getFilter: data ">
    <div class="rounded-circle border border-dark logo"> <span class="text-dark cur" [routerLink]="['detail/' + user.id]">{{ user.name | getIntial }}</span> </div>
    <div> <span class="cur" [routerLink]="['edit/' + user.id]"> {{ user.name | titlecase }} </span> </div>
    <div class="cur">
      <a class="bi bi-person-x text-dark fs-4" (click)="deleteCompanyList(user.id)"></a>
    </div>
  </div>
</div>
